
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>My home</title>
<link rel="stylesheet" href="styles.css"> 
</head>
<body>
<h1 class="title">My home</h1>
<div class="clear">
<div class="left">
<img class="video" src="http://192.168.1.161:8081"></iframe>
<table class="sensor-container">
   <tr><td>Last motion</td><td><%= lastMotion.getFullYear()+'-'+lastMotion.getMonth()+'-'+lastMotion.getDate()+' '+lastMotion.getHours()+':'+lastMotion.getMinutes() %></td></tr>
   <tr><td>Inside</td><td><%=sensor_1%>째C</td></tr>
   <tr><td>Outside</td><td><%=sensor_2%>째C</td></tr>
</table>
</div>
<div class="right">
<table class="old-temps">
 <tr><th>Time</th><th>Inside</th><th>Outside</th></tr>
 <% oldTemps.forEach(function(oldTemp){ %>
  <tr><td><%= oldTemp.time.getFullYear()+'-'+oldTemp.time.getMonth()+'-'+oldTemp.time.getDate()+' '+oldTemp.time.getHours()+':'+oldTemp.time.getMinutes() %></td><td><%= oldTemp.sensor1 %></td><td><%= oldTemp.sensor2 %></td></tr>
 <% }); %>
</table>
</div>
</div>

<div class="clear">
<div class="left old-temps-graph">
 <p>Inside</p>
 <% oldTemps.forEach(function(oldTemp){ %>
  <div class="old-temps-bar" style="width:<%= oldTemp.sensor1 * 2.5 %>%"><%= oldTemp.sensor1 %>째C</div>
 <% }); %>
</div>

<div class="right old-temps-graph">
 <p>Outside</p>
 <% oldTemps.forEach(function(oldTemp){ %>
  <div class="old-temps-bar" style="width:<%= oldTemp.sensor2 * 2.5 %>%"><%= oldTemp.sensor2 %>째C</div>
 <% }); %>
</div>
</div>

</body>
</html>





